<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'library:home' %}">Home</a>        
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'library:home2' %}">Home2</a>        
                </li>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'library:list_books' %}">list books</a>        
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'library:create_books' %}">Add books</a>        
            </li>
            </ul>
        </div>
    </div>
</nav>